body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f8ff;
}

h1, h2 {
    color: #333;
}

#currentWeatherData, #hourlyForecastData {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p, li {
    font-size: 18px;
    color: #555;
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: 5px 0;
}
